html,
body {
    background-color: turquoise;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: crimson;
    margin: 0%;
    padding: 0%;
}

h1,
h2 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    border-radius: 15px;

}

.div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.lien {
    text-align: center;
}

.icone {
    display: inline;
    margin-right: auto;
}

#Boutique {
    color: blueviolet;
    border-bottom: 2px solid red
}

#Boutique:hover {
    color: red;

}

.titre2 {
    border-bottom: 2px solid yellow;
    margin-bottom: 10px;
    display: inline;



}

p {
    text-align: justify;
}

#puces {
    list-style-type: none;
    padding: 0%;
    text-align: left;
}

#puces li {
    background-color: rgb(255, 247, 0);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
}

#liens {
    text-align: left;
    padding: 0%;
    font-weight: bold;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    color: red;
}

#tableau {
    width: 320px;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

#caption {
    font-style: italic;
    text-decoration: underline;
    font-size: 20px;
    margin: 10px;
}

.col4 {
    padding: 10px;
}

button {
    background-color: lightgreen;
    color: red;
    font-weight: bold;
    font-size: 14px;
    border-radius: 12px;
    height: 50px;
    width: 100%;
    border: none;
}

button:hover {
    color: green;
}